<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nagaonhighschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".class11_arts.class_11_arts_alteng"></activity>
        <activity android:name=".class11_science.class_11_science_alteng" />
        <activity android:name=".class11_science.class_11_science_eng" />
        <activity android:name=".class11_science.class_11_science_assamese" />
        <activity android:name=".class11_science.class_11_science_infotech" />
        <activity android:name=".class11_science.class_11_science_bio" />
        <activity android:name=".class11_science.class_11_science_maths" />
        <activity android:name=".class11_science.class_11_science_chem" />
        <activity android:name=".class11_science.class_11_science_phy" />
        <activity android:name=".class12_science.class_12_science_alteng" />
        <activity android:name=".class12_science.class_12_science_eng" />
        <activity android:name=".class12_science.class_12_science_assamese" />
        <activity android:name=".class12_science.class_12_science_infotech" />
        <activity android:name=".class12_science.class_12_science_bio" />
        <activity android:name=".class12_science.class_12_science_maths" />
        <activity android:name=".class12_science.class_12_science_chem" />
        <activity android:name=".class12_science.class_12_science_phy" />
        <activity android:name=".class12_comm.class_12_comm_alteng" />
        <activity android:name=".class12_comm.class_12_comm_eng" />
        <activity android:name=".class12_comm.class_12_comm_retail" />
        <activity android:name=".class12_comm.class_12_comm_assamese" />
        <activity android:name=".class12_comm.class_12_comm_infotech" />
        <activity android:name=".class12_comm.class_12_comm_econ" />
        <activity android:name=".class12_comm.class_12_comm_busi_study" />
        <activity android:name=".class12_comm.class_12_comm_acc" />
        <activity android:name=".class11_comm.class_11_comm_alteng" />
        <activity android:name=".class11_comm.class_11_comm_eng" />
        <activity android:name=".class11_comm.class_11_comm_assamese" />
        <activity android:name=".class11_comm.class_11_comm_infotech" />
        <activity android:name=".class11_comm.class_11_comm_retail" />
        <activity android:name=".class11_comm.class_11_comm_econ" />
        <activity android:name=".class11_comm.class_11_comm_busi_study" />
        <activity android:name=".class11_comm.class_11_comm_acc" />
        <activity android:name=".subjectList_12_comm" />
        <activity android:name=".subjectList_11_comm" />
        <activity android:name=".subjectList_12_science" />
        <activity android:name=".subjectList_11_science" />
        <activity android:name=".class12_arts.class_12_arts_alteng" />
        <activity android:name=".class12_arts.class_12_arts_eng" />
        <activity android:name=".class12_arts.class_12_arts_assamese" />
        <activity android:name=".class12_arts.class_12_arts_sanskrit" />
        <activity android:name=".class12_arts.class_12_arts_retail" />
        <activity android:name=".class12_arts.class_12_arts_infotech" />
        <activity android:name=".class12_arts.class_12_arts_log_phil" />
        <activity android:name=".class12_arts.class_12_arts_econ" />
        <activity android:name=".class12_arts.class_12_arts_polscience" />
        <activity android:name=".class12_arts.class_12_arts_edu" />
        <activity android:name=".class12_arts.class_12_arts_history" />
        <activity android:name=".class11_arts.class_11_arts_eng" />
        <activity android:name=".class11_arts.class_11_arts_assamese" />
        <activity android:name=".class11_arts.class_11_arts_sanskrit" />
        <activity android:name=".class11_arts.class_11_arts_retail" />
        <activity android:name=".class11_arts.class_11_arts_infotech" />
        <activity android:name=".class11_arts.class_11_arts_logic_phil" />
        <activity android:name=".class11_arts.class_11_arts_econ" />
        <activity android:name=".class11_arts.class_11_arts_polscience" />
        <activity android:name=".class11_arts.class_11_arts_edu" />
        <activity android:name=".class11_arts.class_11_arts_history" />
        <activity android:name=".class12_arts.class_12_arts_geography" />
        <activity android:name=".class11_arts.class_11_arts_geography" />
        <activity android:name=".subjectList_12_arts" />
        <activity android:name=".subjectList_11_arts" />
        <activity android:name=".class10_subjectList.class_10_sanskrit" />
        <activity android:name=".class10_subjectList.class_10_retail" />
        <activity android:name=".class10_subjectList.class_10_infotech" />
        <activity android:name=".class10_subjectList.class_10_geography" />
        <activity android:name=".class10_subjectList.class_10_advancedmaths" />
        <activity android:name=".class10_subjectList.class_10_socialscience" />
        <activity android:name=".class10_subjectList.class_10_maths" />
        <activity android:name=".class10_subjectList.class_10_science" />
        <activity android:name=".class10_subjectList.class_10_english" />
        <activity android:name=".class10_subjectList.class_10_hindi" />
        <activity android:name=".class10_subjectList.class_10_assamese" />
        <activity android:name=".class9_subjectList.class_9_sanskrit" />
        <activity android:name=".class9_subjectList.class_9_retail" />
        <activity android:name=".class9_subjectList.class_9_infotech" />
        <activity android:name=".class9_subjectList.class_9_geography" />
        <activity android:name=".class9_subjectList.class_9_advancedmaths" />
        <activity android:name=".class9_subjectList.class_9_socialscience" />
        <activity android:name=".class9_subjectList.class_9_maths" />
        <activity android:name=".class9_subjectList.class_9_science" />
        <activity android:name=".class9_subjectList.class_9_english" />
        <activity android:name=".class9_subjectList.class_9_hindi" />
        <activity android:name=".class9_subjectList.class_9_assamese" />
        <activity android:name=".class8_subjectList.class_8_advancedmaths" />
        <activity android:name=".class8_subjectList.class_8_socialscience" />
        <activity android:name=".class8_subjectList.class_8_maths" />
        <activity android:name=".class8_subjectList.class_8_science" />
        <activity android:name=".class8_subjectList.class_8_english" />
        <activity android:name=".class8_subjectList.class_8_hindi" />
        <activity android:name=".class8_subjectList.class_8_assamese" />
        <activity android:name=".class7_subjectList.class_7_socialscience" />
        <activity android:name=".class7_subjectList.class_7_science" />
        <activity android:name=".class7_subjectList.class_7_maths" />
        <activity android:name=".class7_subjectList.class_7_hindi" />
        <activity android:name=".class7_subjectList.class_7_english" />
        <activity android:name=".class7_subjectList.class_7_assamese" />
        <activity android:name=".class7_subjectList.class_7_advancedmaths" />
        <activity android:name=".class6_subjectList.class_6_advancedmaths" />
        <activity android:name=".class6_subjectList.class_6_socialscience" />
        <activity android:name=".class6_subjectList.class_6_science" />
        <activity android:name=".class6_subjectList.class_6_maths" />
        <activity android:name=".class6_subjectList.class_6_english" />
        <activity android:name=".class6_subjectList.class_6_hindi" />
        <activity android:name=".class6_subjectList.class_6_assamese" />
        <activity android:name=".subjectList_12" />
        <activity android:name=".subjectList_11" />
        <activity android:name=".subjectList_10" />
        <activity android:name=".subjectList_9" />
        <activity android:name=".subjectList_8" />
        <activity android:name=".subjectList_7" />
        <activity android:name=".subjectList_6" />
        <activity android:name=".DashBoard" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>